Imports

In [4]:
import import_ipynb

import numpy as np
import statistics as st
import pandas as pd
from matplotlib import pyplot as plt
import kjtakke as kj

Data In

In [5]:
le = pd.read_csv(r'http://bit.ly/2cLzoxH', header=0)
print(le['continent'].unique())
print("")
print(le.columns)

le.head()

['Asia' 'Europe' 'Africa' 'Americas' 'Oceania']

Index(['country', 'year', 'pop', 'continent', 'lifeExp', 'gdpPercap'], dtype='object')

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

Code