<h1 style="color:#c4960c">Classes and Dynamic Functions Lesson</h1>
<br>

<h2 style="color:#c4960c">Functions</h2>
<hr>
<h4>Imports</h4>

In [37]:
import datetime

<h3 style="color:#c4960c">Dynamic Function tools: *args (ARGumentS), **kwargs (Key Word ARGumentS)</h3>
<br><br>
<h5><b style="color:#c4960c">*args</b> - Unlimited arguments to be passed into a function</h5>

In [38]:
def my_args_fun(*args):
    for x in args:
        print(x)

my_args_fun("Word 1", 'word 2', "word 3")

Word 1
word 2
word 3

In [39]:
def sum_all(*args):
    """This function sums a range of intagers"""
    i = 0
    for x in args:
        i = i + x
    return i

sum_all(5,1,2)

8

In [40]:
def progressive_sum(*args):
    """This function returns a list of progressively summed integer"""
    lst = []
    i = 0
    for x in args:
        i = i + x
        lst.append(i)
    return lst

progressive_sum(1,1,2,5,3)

[1, 2, 4, 9, 12]

In [41]:
def count_all(*args):
    """This function returns a list of progressively summed integer"""
    lst = []
    i = 0
    for x in args:
        i = i + 1
    return i 
count_all(1,1,2,5,3)

5

In [42]:
def count_words(string, *args):
    punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
    
    no_punct = ""
    for char in string:
        if char not in punctuations:
            no_punct = no_punct + char
            
    string = no_punct
    
    string = string.lower().split()
    lst = []
    
    for x in args:
        cnt = 0
        x = x.lower()
        for y in string:
            if x == y:
                cnt += 1
        lst.append([x, cnt])
    return lst

In [43]:
string = "Archaic Greece was the period in Greek history lasting from the eighth century BC to the second Persian invasion of Greece in 480 BC,[1] following the Greek Dark Ages and succeeded by the Classical period. In the archaic period, Greeks settled across the Mediterranean and the Black Seas, as far as Marseille in the west and Trapezus (Trebizond) in the east; and by the end of the archaic period, they were part of a trade network that spanned the entire Mediterranean."

In [44]:
count_words(string,"the","and", "of")

[['the', 13], ['and', 4], ['of', 3]]

<br><br>
<h5><b style="color:#c4960c">**kwargs</b> - Uniquely named variables to be passed in to a function</h5>

In [45]:
def list_details(title,**kwargs):
    """This function sums a range of intagers"""
    lst = []
    for x ,y in kwargs.items():
        lst.append([title, x, y])
    return lst


list_details("Name: ", Last = "Jones", First = "Ben")

[['Name: ', 'Last', 'Jones'], ['Name: ', 'First', 'Ben']]

<h5>Variable  -  *args   -   **kwargs</h5>

In [46]:
def list_name_details(adj, *args,**kwargs):
    """This function sums a range of intagers"""
    
    #Internal Variables
    lst1 = []
    lst2 = []
    cnt = 2
    
    for y in args:                           #Loop through the *args
        cnt *= 2                                  #Factor to increase by
        
        for x in kwargs.items():             #Loop through the **kwargs
            z = x[1] * adj * cnt                   #Some non-important calculations
            lst1.append([y, x[0], z])              #Append results to a list
        
        
    for j in lst1:                                  #Loop though the list
        lst2.append([j[0], j[1], j[2]])                 #Append results to a new list

    return lst2

<h5>Dynamic Functionality</h5>

In [47]:
my_func_lst = list_name_details(15, "Mains", "Backup", "Down", "Reserver", Height = 0.5, Width = 0.3, Depth = .75)
my_func_lst

[['Mains', 'Height', 30.0],
 ['Mains', 'Width', 18.0],
 ['Mains', 'Depth', 45.0],
 ['Backup', 'Height', 60.0],
 ['Backup', 'Width', 36.0],
 ['Backup', 'Depth', 90.0],
 ['Down', 'Height', 120.0],
 ['Down', 'Width', 72.0],
 ['Down', 'Depth', 180.0],
 ['Reserver', 'Height', 240.0],
 ['Reserver', 'Width', 144.0],
 ['Reserver', 'Depth', 360.0]]

<h4>What you can do with that data</h4>

In [48]:
import pandas as pd
import numpy as np
df = pd.DataFrame(my_func_lst)
df.columns =(["Area","Feature","Size"])
df = df.pivot_table(values=["Size"], index=["Area"], columns=["Feature"], aggfunc=np.sum)
df = pd.DataFrame(df.to_records())
df

       Area  ('Size', 'Depth')  ('Size', 'Height')  ('Size', 'Width')
0    Backup               90.0                60.0               36.0
1      Down              180.0               120.0               72.0
2     Mains               45.0                30.0               18.0
3  Reserver              360.0               240.0              144.0

In [49]:
def str_to_xls_dte(x, opt=20):
    """
    This function converts the Australian date format commonly used in 
    Microsoft Excel into datetime.date format and data type.
    
    Supports the following formats:
        "d/m/yyyy"
        "dd/mm/yyyy "
        "dd/mm/yy"
        "d/m/yy"
    
    opt is only used if the date is two digets:
        opt is 20 by default:
            dd/mm/yy = dd/mm/20yy

        opt 19 (provided):
            dd/mm/yy = dd/mm/19yy
    
    RETURN CLASS
    <class 'datetime.date'>
    format individual: 2002-02-01
    format list:       datetime.date(2020, 2, 1)
    
    REQUIREMENTS
    Packages:
        datetime
    """
    
    try:
        import datetime
        lst = x.split("/")
        d = int(lst[0])
        m = int(lst[1])
    
        if len(lst[2]) == 2:
            y = int(str(opt) + lst[2])
        else:
            y = int(lst[2])
            
        return datetime.date(y,m,d)
    
    except ValueError as err:
        raise

In [50]:
help(str_to_xls_dte)

Help on function str_to_xls_dte in module __main__:

str_to_xls_dte(x, opt=20)
    This function converts the Australian date format commonly used in
    Microsoft Excel into datetime.date format and data type.

    Supports the following formats:
        "d/m/yyyy"
        "dd/mm/yyyy "
        "dd/mm/yy"
        "d/m/yy"

    opt is only used if the date is two digets:
        opt is 20 by default:
            dd/mm/yy = dd/mm/20yy

        opt 19 (provided):
            dd/mm/yy = dd/mm/19yy

    RETURN CLASS
    <class 'datetime.date'>
    format individual: 2002-02-01
    format list:       datetime.date(2020, 2, 1)

    REQUIREMENTS
    Packages:
        datetime

In [51]:
myXlsDate1 = "01/02/2002"

print("Without opt:")
print(str_to_xls_dte(myXlsDate1))
print("-------------------")

myXlsDate2 = "01/02/02"

print("With opt 1:")
print(str_to_xls_dte(myXlsDate2,19))
print("-------------------")

print("With opt 2:")
print(str_to_xls_dte(myXlsDate2,21))
print("-------------------")

Without opt:
2002-02-01
-------------------
With opt 1:
1902-02-01
-------------------
With opt 2:
2102-02-01
-------------------

In [52]:
lstXlsDates1 = ['1/2/20', '2/2/20', '3/2/20', '4/2/20']

lstXlsDates1 = list(
    map(
        lambda x: str_to_xls_dte(x,20),
        lstXlsDates1
    )
)

lstXlsDates1

[datetime.date(2020, 2, 1),
 datetime.date(2020, 2, 2),
 datetime.date(2020, 2, 3),
 datetime.date(2020, 2, 4)]

<br><br>
<h2 style="color:#c4960c">Classes</h2>
<hr>
<p>A class can be utilised for a vatiaty of purposes:
    <li>Store and orginise Functions</li>
    <li>Store objects to run functions on</li>
    <li>Initiation of steps required to be taken before one or more functions are enacted</li>
    <li>Run subsequent steps such as logging</li>
    <h5>Function underscores</h5>
    <li>_ a single leading underscore means you're not supposed to access it "from the outside</li>
    <li>__two leading underscores (w/o trailing underscores) carry the message even more forcefully</li>
    <li>Single trailing underscore_ naming convention is used to avoid conflicts with Python keywords.</li>
    <li>Names that have leading and trailing double underscores (“dunders”) are reserved for special use like the__init__ </li>
</p>

In [53]:
class Xls_DateTime:
    """
    Help text goes here
    
    """
    import datetime
    
    #____________________________________________________________________________________________
    #This function in run at everytime the class is called
    #It defigns your variables to be used in class functions
    def __init__(self, dte, opt=20):
        """
        Help text goes here
        """
        self.dte = dte
        self.opt = opt
        self.lst = dte.split("/")
        self.d = int(self.lst[0])
        self.m = int(self.lst[1])
        
        if len(self.lst[2]) == 2:
            self.y = int(str(opt) + self.lst[2])
        else:
            self.y = int(self.lst[2])

        self.yy = self.y
    #____________________________________________________________________________________________
    #Function One
    def xls_date_to_date(self):
        """
        Help text goes here
        """
        return datetime.date(self.y, self.m, self.d)
        
    #____________________________________________________________________________________________    
    #Function Two  
    def xls_date_to_datetime(self, h=0, m=0, s=0):
        """
        Help text goes here
        """
        return datetime.datetime(self.y, self.m, self.d, h,m,s)

    
    
    #____________________________________________________________________________________________
    #The below functions display readable responces for developers (__repr__) and users (__str__)
    
    #Without these two functions, any query on the created data/class object would look like:
        #<__main__.Xls_DateTime object at 0x0000026BAB5C7850>
    
    #Instead of this:
        #Xls_DateTime('2020',2)          (__repr__)
        #Xls_DateTime('01/02/20',20)     (__str__)
    
    
    def __repr__(self):
        return "Xls_DateTime('{}',{})".format(self.y, self.m, self.y)
    
    def __str__(self):
        return "Xls_DateTime('{}',{})".format(self.dte, self.opt)
    #____________________________________________________________________________________________

<h3 style="color:#c4960c">Class Objects</h3>

<h5>Set Date Variable</h5>

In [54]:
myXlsDate1 = "01/02/20"

<br><br><br>
<hr>
<h4>Create a class object</h4>
<hr>

In [55]:
My_Date1 = Xls_DateTime(myXlsDate1, 20)           #Creating a class object

<br>
<h5>Print a class object</h5>

In [56]:
print("First Class Object")
print("xls date:", My_Date1.dte)                  #Print class.dte                         
print("Option:", My_Date1.opt)                    #Print class.opt
print("")
print(My_Date1.__repr__())                        #__repr__ Developer notes
print(My_Date1.__str__())                         #__str__  User notes
print(My_Date1)                                   #Auto defers to __str__; however, without __str__ is will divert do __repr__
print(My_Date1.__dict__)                          #__dict__ Displays all the __init__ variables as a dictionary (Great for debugging)
print(My_Date1.__dict__["lst"])                   #__dict__["DictItem"] Displays a spicific variable in your class object

First Class Object
xls date: 01/02/20
Option: 20

Xls_DateTime('2020',2)
Xls_DateTime('01/02/20',20)
Xls_DateTime('01/02/20',20)
{'dte': '01/02/20', 'opt': 20, 'lst': ['01', '02', '20'], 'd': 1, 'm': 2, 'y': 2020, 'yy': 2020}
['01', '02', '20']

<br>
<h5>Run class.function( ) on object</h5>

In [57]:
print(My_Date1.xls_date_to_date())                #Run class.function

2020-02-01

<br><br><br><br>
<hr>
<h4>Create a class object</h4>
<hr>

In [58]:
My_Date2 = Xls_DateTime("01/02/2002")             #Creating a class object (opt = 1 is default)

<br>
<h5>Print a class object</h5>

In [59]:
print("Second Class Object")

print("xls date:", My_Date2.dte)                  #Print class.dte              
print("Option:", My_Date2.opt)                    #Run class.function

Second Class Object
xls date: 01/02/2002
Option: 20

<br>
<h5>Run class.function( ) on object</h5>

In [60]:
print(My_Date2.xls_date_to_date())                #Run class.function

2002-02-01

<br><br><br><br>
<hr>
<h4>Create a class object</h4>
<hr>

In [61]:
My_Date3 = Xls_DateTime("01/02/02", 2)            #Creating a class object

<br>
<h5>Print a class object</h5>

In [62]:
print("Second Class Object")

print("xls date:", My_Date3.dte)                  #Print class.dte      
print("Option:", My_Date3.opt)                    #Print class.opt

Second Class Object
xls date: 01/02/02
Option: 2

<br>
<h5>Run class.function( ) on object</h5>

In [63]:
print(My_Date3.xls_date_to_date())                #Run class.function

0202-02-01



<br><br><br><br>
<hr>
<h4>Call a class.function( ) without making a class object</h4>
<hr>

In [64]:
Xls_DateTime(myXlsDate1, 1).xls_date_to_date()

datetime.date(120, 2, 1)

<br><br><br><br>
<h3 style="color:#c4960c">Reuse class objects accross multiple class.functions</h3>

<h4>Create Variable</h4>

In [65]:
myXlsDate2 = "01/02/2019"

<br><br>
<h4>Create class object</h4>

In [66]:
My_Date4 = Xls_DateTime(myXlsDate2)             #Creating a class object
My_Date4

Xls_DateTime('2019',2)

<br><br>
<h4>Print class object</h4>

In [67]:
print("Class Objects:")
print("xls date:", My_Date4.dte)                   #Print class.dte                         
print("Option:", My_Date4.opt)

Class Objects:
xls date: 01/02/2019
Option: 20

<br><br>
<h4>Run class.function( ) on class objects</h4>

In [68]:
print("Date Function:")
print(My_Date4.xls_date_to_date())                 #Run class.function

Date Function:
2019-02-01

In [69]:
print("DateTime Function:")
print(My_Date4.xls_date_to_datetime(12,1,30))      #Run class.function

DateTime Function:
2019-02-01 12:01:30